a {
  color: #333333;
}
a:hover {
  color: #00cccc;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  text-transform: uppercase;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.shop-page .thumb img {
  margin-top: 10px;
  display: block;
  max-width: 100%;
}
.shop-page a[rel="fancybox"]:first-of-type img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 10px auto;
}
.shop-page h1 {
  color: #666;
  margin: 5px 0;
  font-size: 40px;
  line-height: 40px;
}
.shop-page .breadcrumb {
  padding: 0;
  margin-bottom: 0;
  background-color: transparent;
}
.shop-page .breadcrumb li > a {
  color: #333;
}
.shop-page .breadcrumb li:last-of-type > a {
  color: #777777;
}
.shop-page .product-carousel {
  margin-bottom: 20px;
}
.shop-page .product-row:before,
.shop-page .product-row:after {
  content: " ";
  display: table;
}
.shop-page .product-row:after {
  clear: both;
}
.shop-page .tab-content {
  padding-top: 20px;
}
.shop-page .header p {
  margin-bottom: 25px;
  color: #999;
}
.shop-page .price span {
  text-decoration: line-through;
  color: #999;
  font-size: 1.2em;
}
.shop-page .price strong {
  margin-left: 10px;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 2.2em;
  color: #333333;
}
.shop-page .highlight {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  padding: 0 10px;
  border: 0;
  outline: none;
}
.shop-page .highlight.green {
  color: #FFF;
  background: #AD0 none repeat scroll 0 0;
}
.shop-page .highlight.blue {
  color: #FFF;
  background: #ffcc00 none repeat scroll 0 0;
}
.thumb {
  padding: 0 20px;
  border-radius: 0;
}
.thumb a {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
}
.thumb .image {
  margin: 10px 0;
}
.thumb .caption {
  text-align: center;
  height: 20px;
  overflow: hidden;
  padding: 0;
}
.thumb .price {
  text-align: center;
  color: #00cccc;
}
.form-add-to-cart input {
  width: 50px !important;
  text-align: center;
}
.form-add-to-cart .help-block-error {
  display: none;
}
.form-add-to-wish-list .form-group,
.add_to_wish_list .form-group {
  margin-bottom: 0;
}
.table th,
.table td {
  vertical-align: middle !important;
}
.shopping-cart,
.wish-list {
  color: #666666;
}
.shopping-cart .table th,
.wish-list .table th {
  padding: 0;
  color: #999;
  border-bottom: 0;
}
.shopping-cart .table th,
.wish-list .table th,
.shopping-cart .table td,
.wish-list .table td {
  padding: 4px;
  text-align: right;
}
.shopping-cart .table th,
.wish-list .table th,
.shopping-cart .table td.name,
.wish-list .table td.name {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.25em;
}
.shopping-cart .table td.name,
.wish-list .table td.name,
.shopping-cart .table th.name,
.wish-list .table th.name {
  text-align: left;
}
.shopping-cart .table td.name a,
.wish-list .table td.name a {
  color: #00cccc;
}
.shopping-cart .table td.name a:hover,
.wish-list .table td.name a:hover {
  color: #666666;
}
.shopping-cart .table td.thumb-mini,
.wish-list .table td.thumb-mini {
  width: 64px;
  height: 64px;
}
.shopping-cart .subtotal,
.wish-list .subtotal,
.shopping-cart .total,
.wish-list .total {
  padding: 15px 0;
  text-align: right;
}
.shopping-cart .subtotal div,
.wish-list .subtotal div,
.shopping-cart .total div,
.wish-list .total div {
  margin: 3px 0;
}
.shopping-cart .subtotal span,
.wish-list .subtotal span,
.shopping-cart .total span,
.wish-list .total span {
  width: 100px;
  display: inline-block;
  font-weight: bold;
}
.shopping-cart .total,
.wish-list .total {
  border-top: 1px solid #ddd;
}
.alert-info {
  margin-bottom: 20px;
}
.header-search {
  margin: 0;
  float: right;
}
.header-search button {
  padding: 0;
  width: 40px;
  height: 40px;
  background: #111 none repeat scroll 0 0;
  border: medium none;
  color: #cccccc;
  float: left;
  transition: all 0.25s linear 0s;
}
.header-search input[type="text"] {
  width: 220px;
  margin: 0;
  padding: 5px 10px;
  background: #555 none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  box-shadow: none;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 30px;
  color: #cccccc;
  text-transform: uppercase;
  float: left;
}
.comment-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #E5E5E5;
}
