@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url("../fonts/RobotoCondensed-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("http://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5UVtXRa8TVwTICgirnJhmVJw.woff2") format("woff2");
}
.bordered {
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px dashed #e5e5e5;
  border-bottom: 1px dashed #e5e5e5;
}
.comment-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}
.table th,
.table td {
  vertical-align: middle !important;
}
.shop-page a[rel="fancybox"]:first-of-type img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 10px auto;
}
.shop-page h1 {
  margin: 5px 0;
  font-size: 40px;
  line-height: 40px;
}
.shop-page .header .announce p {
  margin-bottom: 25px;
}
.shop-page .no-results.bordered {
  margin-top: 20px;
}
.shop-page .item {
  margin-top: 30px;
}
.shop-page .item:before,
.shop-page .item:after {
  content: " ";
  display: table;
}
.shop-page .item:after {
  clear: both;
}
.shop-page .item .user {
  color: #00cccc;
}
.shop-page .highlight {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  padding: 0 10px;
  border: 0;
  outline: none;
}
.shop-page .highlight.green {
  color: #FFF;
  background: #AD0 none repeat scroll 0 0;
}
.shop-page .highlight.blue {
  color: #FFF;
  background: #ffcc00 none repeat scroll 0 0;
}
.shop-page .product-carousel {
  margin-bottom: 20px;
}
.shop-page .tab-content {
  padding-top: 20px;
}
.shop-page .breadcrumb {
  padding: 0;
  margin-bottom: 0;
  background-color: transparent;
}
.shop-page .breadcrumb li:last-of-type > a {
  color: #777777;
}
.shop-page .avg-rating {
  text-align: right;
}
.shop-page .avg-rating .star-rating {
  display: inline-block;
}
.shop-page .form-add-to-cart {
  text-align: right;
}
.shop-page .form-add-to-cart input {
  width: 50px !important;
  text-align: center;
}
.shop-page .form-add-to-cart .help-block-error {
  display: none;
}
.shop-page .add-to-wish-list {
  text-align: right;
}
.shop-page .add-to-wish-list .form-group {
  margin-bottom: 0;
}
.shop-page .price {
  text-align: right;
}
.shop-page .price span {
  text-decoration: line-through;
  color: #999999;
  font-size: 1.2em;
}
.shop-page .price strong {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin-left: 10px;
  font-size: 2.2em;
  color: #333333;
}
.shopping-cart,
.wish-list {
  color: #777777;
}
.shopping-cart .table th,
.wish-list .table th {
  padding: 0;
  color: #777777;
}
.shopping-cart .table th,
.wish-list .table th,
.shopping-cart .table td,
.wish-list .table td {
  padding: 4px;
  text-align: right;
}
.shopping-cart .table th,
.wish-list .table th,
.shopping-cart .table td.name,
.wish-list .table td.name {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
}
.shopping-cart .table td.name,
.wish-list .table td.name,
.shopping-cart .table th.name,
.wish-list .table th.name {
  text-align: left;
}
.shopping-cart .table td.name a,
.wish-list .table td.name a {
  color: #00cccc;
}
.shopping-cart .table td.name a:hover,
.wish-list .table td.name a:hover {
  color: #777777;
}
.shopping-cart .table td.thumb-mini,
.wish-list .table td.thumb-mini {
  width: 64px;
  height: 64px;
}
.shopping-cart .subtotal,
.wish-list .subtotal,
.shopping-cart .total,
.wish-list .total {
  padding: 15px 0;
  text-align: right;
}
.shopping-cart .subtotal div,
.wish-list .subtotal div,
.shopping-cart .total div,
.wish-list .total div {
  margin: 3px 0;
}
.shopping-cart .subtotal span,
.wish-list .subtotal span,
.shopping-cart .total span,
.wish-list .total span {
  width: 100px;
  display: inline-block;
  font-weight: bold;
}
.shopping-cart .total,
.wish-list .total {
  border-top: 1px solid #dddddd;
}
.out-of-stock {
  color: #ff3333;
}
.low-stock {
  color: #ffcc00;
}
.in-stock {
  color: #aadd00;
}
