@import "variables";

.bordered {
  @border-color: @legend-border-color;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px dashed @border-color;
  border-bottom: 1px dashed @border-color;
}

.comment-item {
  margin-bottom: 10px;
  border-bottom: 1px solid @legend-border-color;
}

.table {
  th, td { vertical-align: middle !important; }
}

.shop-page {
  a[rel="fancybox"]:first-of-type img { display: block; max-width: 100%; height: auto; margin: 10px auto; }
  h1 { margin: 5px 0; font-size: 40px; line-height: 40px; }
  .header {
    .announce p { margin-bottom: 25px; }
  }
  .no-results.bordered {
    margin-top: 20px;
  }
  .item {
    .clearfix();
    margin-top: 30px;
    .user { color: @hover-color; }
  }
  .highlight {
    .font-condensed();
    text-align: center;
    text-transform: uppercase;
    padding: 0 10px;
    border: 0;
    outline: none;
    &.green { color: #FFF; background: #AD0 none repeat scroll 0 0; }
    &.blue { color: #FFF; background: @active-color none repeat scroll 0 0; }
  }
  .product-carousel { margin-bottom: 20px; }
  .tab-content { padding-top: 20px; }
  .breadcrumb {
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
    li:last-of-type > a { color: @gray-light; }
  }
  .avg-rating {
    text-align: right;
    .star-rating { display: inline-block; }
  }
  .form-add-to-cart {
    text-align: right;
    input { width: 50px !important; text-align: center; }
    .help-block-error { display: none; }
  }
  .add-to-wish-list {
    text-align: right;
    .form-group { margin-bottom: 0; }
  }
  .price {
    text-align: right;
    span { text-decoration: line-through; color: @input-color-placeholder; font-size: 1.2em; }
    strong { .font-condensed(); margin-left: 10px; font-size: 2.2em; color: @gray-dark; }
  }
}

.shopping-cart,
.wish-list {
  color: @gray-light;
  .table {
    th { padding: 0; color: @gray-light; }
    th, td { padding: 4px; text-align: right; }
    th, td.name { .font-condensed-bigger(); }
    td.name, th.name { text-align: left; }
    td.name a { color: @hover-color; &:hover { color: @gray-light; } }
    td.thumb-mini { width: 64px; height: 64px; }
  }
  .subtotal,
  .total {
    padding: 15px 0;
    text-align: right;
    div { margin: 3px 0; }
    span { width: 100px; display: inline-block; font-weight: bold; }
  }
  .total { border-top: 1px solid @table-border-color; }
}
